%title
  = "Juay de Rito ?"
%link(rel="stylesheet" type="text/css" href="/style.css")
%script{:type => "text/javascript", :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"}
#ju_says #{@ju} ceiz:
#juay_wrap
  #juay #{@juay}
  #juay_me 
    %img{:src => 'http://twitpic.com/show/thumb/40ldtw.jpg', :title => 'hahahahaha #juayderito on Twitpic', :width => '150',
		:height => '150'}
#dummy
%p.signature Idea de: <a href="http://www.twitter.com/mexicanhacker"> @mexicanhacker</a>, <a href="http://www.twitter.com/hackergil"> @hackergil</a> y  <a href="http://www.twitter.com/_DanValencia"> @_DanValencia</a>
:javascript
  $(document).ready(function() {
    newTweet = function(){
    $.ajax({
      url : "/new_tweet",
      success : function(data){
        var tweet = $.parseJSON(data);
        $("#ju_says").text("@"+tweet.name + " says:");
        $("#juay").text(tweet.text);
      }
    });
    };
    setInterval("newTweet()", 8000);
  });