%link(rel="stylesheet" type="text/css" href="/style.css")
#ju_says #{@ju} ceiz:
#juay_wrap
  #juay #{@juay}
  #juay_me 
    %img{:src => 'http://twitpic.com/show/thumb/40ldtw.jpg', :title => 'hahahahaha #juayderito on Twitpic', :width => '150',
		:height => '150'}
    %p#next
      %a{:href => '/'} Quiero otro juay !
#dummy
%p.signature Idea de: <a href="http://www.twitter.com/mexicanhacker"> @mexicanhacker</a> y <a href="http://www.twitter.com/hackergil"> @hackergil</a>
