%link(rel="stylesheet" type="text/css" href="/style.css")
#ju_says #{@ju} ceiz:
#juay #{@juay}
#signature Traido para ustedes por: 
#author
  %a{:href => 'http://www.twitter.com/mexicanhacker'} @mexicanhacker
%p#next{:align => 'center'}
  %a{:href => '/'} Otro tweet!
