body {
    background: #111;
    font: 60px Helvetica, Arial, sans-serif;
    letter-spacing: -3px;
    margin: 8px;
    margin-left: 0px;
}

#juay {
    color: #58aa00;
}
  
#signature {
    position: absolute;
    bottom: 5%; 
    color: #5c5c5c;
}