body {
	background:black;
    font: 40px Helvetica, Arial, sans-serif;
    letter-spacing: -3px;
    margin: 8px;
    margin-left: 0px;
}

#ju_says {
    margin-top: 2%;
	margin-bottom: 2%;
    color: yellow;
}

#juay {
    margin: 2% 2% 2% 2%;
	font-size:200%;
    color: #58aa00;
}
   
#signature {
	float:left;
    bottom: 5%;
 	margin-right:20px;
    color: #5c5c5c;
}

#author {
    bottom: 5%; 
    left: 20%;
    color: #FF0000;
}	

#next a{
	color:orange;
}